body{
    font-size:16px ;
    font-weight: 500;
    font-family: "Montserrat";
    color: #f1f1f1;
}
.super__conteiner{
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    padding: 10px;
}

.visitka__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
    width: 660px;
background: url(../img/Vizitka.jpg);
background-size: 100% 100%;
box-shadow: 0 5px  24px rgb(104, 104, 104),
                0  5px 36px rgb(104, 104, 104),
                0  5px 48px rgb(104, 104, 104),
                0  5px 60px rgb(104, 104, 104);
}


.name{
    text-align: end;
    font-size: 34px;
    margin-top: 14px;
    margin-right: 14px;
}

.harakteristyk__spisok {
    margin: 14px 0px ;
}
.harakteristyk {
    font-size: 24px;
    margin-bottom: 30px;
    color: #919191;
}
.harakteristyks {
    margin-bottom: 30px;
    font-size: 22px;
}
.harakteristyksk {
    margin-bottom: 30px;
    font-size: 22px;
    letter-spacing: 5px;
}


.creative{
    text-decoration: underline 1px #c5c5c5;
    line-height: 25px;
    text-align: center;
    writing-mode: tb-rl;
   transform:rotate(180deg);
   margin-left: 120px;
   font-size: 11.6px;
}




.logo__container{
    display: flex;
    align-items: flex-end;
    padding: 5px;
}

.logo{
    max-width: 110px;
}

@media (max-width: 910px){
    /*Начало grid!!!*/
    .visitka__container{
        width: 500px;
    }
    .name{
        font-size: 24px;
    }
    .harakteristyk {
        margin-bottom: 24px;
        font-size: 16px;
    }
    .harakteristyks {
        margin-bottom: 24px;
        font-size: 18px;
    }
    .harakteristyksk {
        margin-bottom: 24px;
        font-size: 18px;
    }
    .creative{
       margin-left: 70px;
       font-size: 9px;
    }

    .logo{
        max-width: 90px;
    }
    /*Конец grid!!!*/ 
        }

        @media (max-width: 670px){
            /*Начало grid!!!*/
            .visitka__container{
                width: 400px;
            }
            .name{
                font-size: 19px;
            }
            .harakteristyk {
                margin-bottom: 20px;
                font-size: 14px;
            }
            .harakteristyks {
                margin-bottom: 20px;
                font-size: 16px;
            }
            .harakteristyksk {
                margin-bottom: 20px;
                font-size: 16px;
            }
            .creative{
                margin-left: 76px;
                font-size: 7.8px;
             }

            .logo{
                max-width: 50px;
            }
            /*Конец grid!!!*/ 
                }
                @media (max-width: 540px){
                    /*Начало grid!!!*/
                    .visitka__container{
                        width: 240px;
                    }
                    .name{
                        font-size: 12px;
                    }
                    .harakteristyk {
                        margin-bottom: 12px;
                        font-size: 9px;
                    }
                    .harakteristyks {
                        margin-bottom: 12px;
                        font-size: 10px;
                    }
                    .harakteristyksk {
                        margin-bottom: 12px;
                        font-size: 10px;
                        letter-spacing: 2px;
                    }
                    .creative{
                        margin-left: 34px;
                        font-size: 5px;
                     }
                    .logo{
                        max-width: 40px;
                    }
                    /*Конец grid!!!*/ 
                        }
        

@media (max-width: 436px){
    /*Начало grid!!!*/
    .super__conteiner{
        margin: 0 28px;
    }
    .visitka__container{
        width: 240px;
    }
    .name{
        font-size: 10px;
    }
    .harakteristyk {
        margin-bottom: 9px;
        font-size: 8px;
    }
    .harakteristyks {
        margin-bottom: 9px;
        font-size: 7px;
    }
    .harakteristyksk {
        margin-bottom: 9px;
        font-size: 7px;
        letter-spacing: 2px;
    }
    .creative{
        margin-left: 50px;
        font-size: 4px;
     }
    .logo{
        max-width: 30px;
    }
    /*Конец grid!!!*/ 
        }
